<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aige.loveproduction">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 网络请求 -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 获取手机摄像头的权限 -->
    <uses-permission android:name="android.permission.FLASHLIGHT" /> <!-- 获得手电筒许可 -->
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- 获得震动许可 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 读取文件权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.LoveProduction"
        android:usesCleartextTraffic="true">
        <activity android:name=".mvp.ui.activity.ToFillInActivity"/><!--内改补-->
        <activity android:name=".mvp.ui.activity.ProblemActivity" /><!--遇到问题-->
        <activity android:name=".mvp.ui.activity.AboutActivity" /><!--关于我们-->
        <!--
au      thorities：{app的包名}.provider
        grantUriPermissions：必须是true，表示授予 URI 临时访问权限
        exported：必须是false
        resource：中的@xml/provider_paths是我们接下来要添加的文件
        -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name=".mvp.ui.activity.MixedLotActivity" /> <!-- 混批扫描 -->
        <activity android:name=".mvp.ui.activity.SSSettingActivity" /> <!-- 异形工序设置 -->
        <activity android:name=".mvp.ui.activity.TransferVerifyActivity" /> <!-- 转运验证 -->
        <activity android:name=".mvp.ui.activity.TransfersActivity" /> <!-- 转运扫描+ -->
        <activity android:name=".mvp.ui.activity.SpecialShapedActivity" /> <!-- 异形板件扫描 -->
        <activity android:name=".mvp.ui.activity.CreateTaskActivity" /> <!-- 创建打印 -->
        <activity android:name=".mvp.ui.activity.TransferActivity" /> <!-- 转运扫描界面 -->
        <activity android:name=".mvp.ui.activity.MoveStorageActivity" /> <!-- 移库扫描界面 -->
        <activity android:name=".mvp.ui.activity.SendOutVerifyActivity" /> <!-- 发货验证界面 -->
        <activity android:name=".mvp.ui.activity.SendOutActivity" /> <!-- 发货扫描界面 -->
        <activity android:name=".mvp.ui.activity.OutStorageActivity" /> <!-- 出库扫描界面 -->
        <activity android:name=".mvp.ui.activity.InStorageActivity" /> <!-- 入库扫描界面 -->
        <activity android:name=".mvp.ui.activity.StorageFindActivity" /> <!-- 库位查询界面 -->
        <activity android:name=".mvp.ui.activity.PlateFindActivity" /> <!-- 板件查询界面 -->
        <activity android:name=".mvp.ui.activity.MainActivity" /> <!-- 首页 -->
        <activity android:name=".mvp.ui.activity.LoginActivity" /> <!-- 登录页 -->
        <activity android:name=".mvp.ui.activity.FactorySettingsActivity" /> <!-- 工厂设置界面 -->
        <activity android:name=".mvp.ui.activity.WorkScanActivity" /> <!-- 工单扫描界面 -->
        <activity android:name=".mvp.ui.activity.HistoryLogActivity" /> <!-- 历史记录界面 -->
        <activity android:name=".mvp.ui.activity.PlanNoScanActivity" /> <!-- 批次扫描界面 -->
        <activity android:name=".mvp.ui.activity.ExamineActivity" /> <!-- 检验混单 -->
        <!-- <activity android:name=".mvp.ui.activity.WebviewActivity" /> -->
        <!-- <activity android:name=".mvp.ui.webview.FileDisplayActivity" /> -->
        <!-- <activity android:name=".mvp.ui.activity.OpenFileTestActivity" /> -->
        <!-- <activity android:name=".mvp.ui.webview.FilesDisplayActivity" /> -->
        <!-- <activity android:name=".mvp.ui.activity.TBSFileViewActivity" /> -->
        <activity
            android:name=".mvp.ui.activity.ApplyActivity"
            android:screenOrientation="landscape" /> <!-- 图形渲染 -->
        <activity
            android:name=".mvp.ui.activity.QrCodeActivity"
            android:screenOrientation="behind" /> <!-- 自定义二维码扫描界面 -->
        <!-- 启动欢迎页，theme设置启动页面全屏，不过继承AppCompatActivity的需要改成Activity -->
        <activity
            android:name=".mvp.ui.activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>